@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
*{
    font-family: 'Roboto',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    max-width: 1280px;
    margin: 0 auto;
    flex: 1 0 auto;
    padding-bottom: 100px;
}

.navPrincipal {
    width:100%;
    height: 113px;
    background-color: rgba(61, 39, 20, 0.952);
}
.navPrincipal ul{
    float: left;
}
.navPrincipal ul li{
    display: inline-block;

}
.navPrincipal ul li a{
    color: azure;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    font-size: 20px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 30px 10px
}
.navPrincipal ul li a:hover{
    background:url(../Img/WhatsApp\ Image\ 2022-09-16\ at\ 4.31.23\ PM.jpeg) no-repeat center;
    background-size: 50px;
    text-decoration: underline;
    animation: myAnim 2s ease 0s 1 reverse forwards;
}

.navPrincipal .logoNav{
    position: absolute;
    left: 100%;
    margin-left: -200px;
}
/*FOOTER*/

.rodape{
    width: 100%;
    background: black;
    position: fixed
    bottom: 0;
    padding: 25px 0;
}
span{
    color: chocolate;
    padding: 0 30px;
}
.rodape a{
    float: right;
    color: chocolate;
    padding-right: 25px;

}
.rodape .copy, .rodape a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
/*HOME*/

/*BANNER*/

.carrousel ul{
    list-style: none;
    text-align: center;
}

.carrousel{
    text-align: center;
    list-style: none;
    margin-right: 500px;
}

/* componente destaque */
.destaque {
    display: inline-block;
    position: relative;
    width: 340px;
    height: 530px;
    text-align: center;
    background-color: coral;
    border: 2px solid brown;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 7px 10px 31px -4px rgba(0,0,0,0.69);
    margin: 0 7px;
}
.destaque img {
    max-width: 100%;
}
.destaque h2{
    font-size: 18px;
    font-family: 'sans-serif';
    color: white;

}
.destaque .valor{
    font-size: 20px;
    color: beige;
    font-family: 'sans-serif';
    font-weight: 300
    text-transform: uppercase;
}
.destaque .adicionaraocarrinho {
    display: block;
    position: absolute;
    width: 164px;
    height: 40px;
    padding: 15px 0;
    background-color: bisque;
    left: 90px;
    bottom: 10px ;
    color: rgb(136, 111, 70);
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.5;
}
.destaque .adicionaraocarrinho:hover{
    background: red;
    color: orange;
    transition: all 0.5;
}
.destaque .imagem {
    height: 200px;
    width: 100%;
    background-size: 100%;
    background-position: center;
}
.destaque .valora .aariscado{
    font-size: 14px;
    color: blue;
    display: block;
    text-decoration:  line-through;
}
.destaque .valor small{
    color: aqua;
}